

body {
    background-color: rgb(123, 241, 241);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 60px auto;
    background: rgb(248, 247, 247);
    padding: 0;
    border-radius: 7px;   
}

.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.settings-tray {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 7px;

}

.float-right {
    float: right;
}

.settings-tray i {
    margin-top: 20px;
    font-size: 25px;
    color: rgb(46, 45, 45);
    margin-left: 14px;
    transition: .3s;
}

.settings-tray i:hover {
    color: rgb(169, 238, 238);
    cursor: pointer;
}

.search-box {
    background: #eeeded;
    padding: 10px 13px;
    border-radius: 7px;

}

.input-wrapper {
    background: #fff;
    border-radius: 40px;
}

.input-wrapper i{
    color:  rgb(46, 45, 45);
    vertical-align: middle;
    margin-left: 7px;
}

input {
    border: none;
    border-radius: 40px;
    width: 80%;
}

input::placeholder{
    color: #bdb8b8;
    font-weight: 300;
}

input:focus{
    outline: none;
}

.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
}

.text {
    margin-left: 12px;
    width: 70%;
}

.friend-drawer h5 {
    margin-top: 6px;
    margin-bottom: 0;
}

.friend-drawer p {
    margin: 0;
    color: #918f8f;
}

.time {
    color: #918f8f;
}

.friend-drower--onhover:hover{
    background: #eeeded;
    cursor: pointer;
}

hr {
    margin: 5px auto;
    width: 70%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

.offset-md-9 {
    margin-left: 75%;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eeedee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadein 1s ease-in;
}

.chat-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}


.chat-bubble--right {
    padding: 10px 14px;
    background:  rgb(169, 238, 238);
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadein 1s ease-in;
}

.chat-box-tray{
    background: #eeeded;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-top: 19px;
    bottom: 0;
    max-width: 90%;
}

.chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
}

.chat-box-tray i {
    color: #b3b3b3;
    font-size: 30px;
    vertical-align: middle;
    
}

.chat-box-tray i:hover {
    color:  rgb(169, 238, 238);
    cursor: pointer;
    
}
.chat-box-tray:last-of-type {
    margin-left: 25px;
}

.border-right {
    border-right: #eeedee;
}

